**/bin/
**/obj/
**/.vs/
**/App.config
/EventsScheduler/EventsScheduler/StyleCop.Cache
/EventsScheduler/EventsScheduler/Settings.StyleCop
/EventsScheduler/packages/Npgsql.3.1.8/Npgsql.3.1.8.nupkg
/EventsScheduler/packages/Npgsql.3.1.8/lib/netstandard1.3/Npgsql.xml
/EventsScheduler/packages/Npgsql.3.1.8/lib/netstandard1.3/Npgsql.dll
/EventsScheduler/packages/Npgsql.3.1.8/lib/net451/Npgsql.xml
/EventsScheduler/packages/Npgsql.3.1.8/lib/net451/Npgsql.dll
/EventsScheduler/packages/Npgsql.3.1.8/lib/net45/Npgsql.xml
/EventsScheduler/packages/Npgsql.3.1.8/lib/net45/Npgsql.dll
/EventsScheduler/packages/EntityFramework6.Npgsql.3.1.1/tools/install.ps1
/EventsScheduler/packages/EntityFramework6.Npgsql.3.1.1/lib/net45/EntityFramework6.Npgsql.xml
/EventsScheduler/packages/EntityFramework6.Npgsql.3.1.1/lib/net45/EntityFramework6.Npgsql.dll
/EventsScheduler/packages/EntityFramework6.Npgsql.3.1.1/EntityFramework6.Npgsql.3.1.1.nupkg
/EventsScheduler/packages/EntityFramework.6.1.3/tools/migrate.exe
/EventsScheduler/packages/EntityFramework.6.1.3/tools/install.ps1
/EventsScheduler/packages/EntityFramework.6.1.3/tools/init.ps1
/EventsScheduler/packages/EntityFramework.6.1.3/tools/EntityFramework.psm1
/EventsScheduler/packages/EntityFramework.6.1.3/tools/EntityFramework.psd1
/EventsScheduler/packages/EntityFramework.6.1.3/tools/EntityFramework.PowerShell.Utility.dll
/EventsScheduler/packages/EntityFramework.6.1.3/tools/EntityFramework.PowerShell.dll
/EventsScheduler/packages/EntityFramework.6.1.3/tools/about_EntityFramework.help.txt
/EventsScheduler/packages/EntityFramework.6.1.3/lib/net45/EntityFramework.xml
/EventsScheduler/packages/EntityFramework.6.1.3/lib/net45/EntityFramework.SqlServer.xml
/EventsScheduler/packages/EntityFramework.6.1.3/lib/net45/EntityFramework.SqlServer.dll
/EventsScheduler/packages/EntityFramework.6.1.3/lib/net45/EntityFramework.dll
/EventsScheduler/packages/EntityFramework.6.1.3/lib/net40/EntityFramework.xml
/EventsScheduler/packages/EntityFramework.6.1.3/lib/net40/EntityFramework.SqlServer.xml
/EventsScheduler/packages/EntityFramework.6.1.3/lib/net40/EntityFramework.SqlServer.dll
/EventsScheduler/packages/EntityFramework.6.1.3/lib/net40/EntityFramework.dll
/EventsScheduler/packages/EntityFramework.6.1.3/EntityFramework.6.1.3.nupkg
/EventsScheduler/packages/EntityFramework.6.1.3/content/Web.config.transform
/EventsScheduler/packages/EntityFramework.6.1.3/content/App.config.transform
