**/bin/
**/obj/
**/.vs/
**/App.config
/EventsScheduler/EventsScheduler/StyleCop.Cache
/EventsScheduler/EventsScheduler/Settings.StyleCop
/EventsScheduler/packages/
/EventsScheduler/EventsScheduler/App.config
